<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../static/CSS/register.css"> 
  </style>
</head>
<body>
  <div class="main">
    <div class="rectangle">
      <h1>REGISTER</h1>
      <form method="POST" action="http://127.0.0.1:5000/register"> 
        <p>Username: <input type="text" name="username" style="text-transform: uppercase;" required></p>
        <p>Password: <input type="password" name="password" required></p>
        <div class="button">
          <button type="submit">REGISTER</button>
          <button type="reset">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  <script src="login.js"></script>
</body>
</html>
