<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSS/update_data.css">
</head>
<body>
    <div class="main">
        <div class="updateid" id="confermid">
        <form method="POST" action="http://127.0.0.1:5000/storeid">
            <p id="pfont" >ENTER ID YOU WANT TO UPDATE : </p>
            <p></p><input type="number" name="id" id="inputidup" placeholder="ENTER DEPARTMENT ID" required><p></p>
            <button type="submit" id="submitbut">CONFERM</button>
        </form>
        </div>
      </div>
      <!-- {% if result=="success" %}
      <script>alert("RECORD UPDATED")</script>
      {% else %}
           
      {% endif %} -->
      <script>
      </script>
</body>
</html>