<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSS/updateemp_data.css">
</head>
<body>
    <div class="main">
        <div class="updateid" id="confermid">
        <form method="POST" action="http://127.0.0.1:5000/storeempname">
            <p id="pfont">ENTER EMPLOYEE NAME : </p>
            <p></p><input type="text" name="empname" placeholder="Enter employee NAME"id="inputidup"  required><p></p>
            <button type="submit" id="submitbut">CONFERM</button>
        </form>
        </div>
      </div>
      <!-- {% if result=="error" %}
      <script>alert("NAME DOES NOT EXIST")</script>
      {% else %}
       <script>alert("RECORD UPDATED")</script>  
      {% endif %} -->
      <script>
      </script>
</body>
</html>